.btn
    border-radius: 5px
    background: $main-color
    color: rgb(255, 255, 255)
    font-size: 12px
    font-weight: 500
    text-align: center
    text-transform: uppercase
    padding: 10px 21px
    border: none
    margin-top: 5px
    cursor: pointer
.btn-big
    width: 300px
    height: 50px
    color: rgb(255, 255, 255)
    font-size: 16px
    margin-top: 68px
